*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    margin-left: 16% ;
}
header{
    background-color: gray;
    display: block;
    width: 81%;
    height: 200px;
    float: left;
    margin: 5px;
}
article{
    background-color: gainsboro;
    display: block;
    width: 55%;
    height: 810px;
    float: left;
    margin: 5px;
}
aside{
    background-color: darkgray;
    display: block;
    width: 25%;
    height: 810px;
    float: left;
    margin: 5px;
}
footer{
    background-color: darkgray;
    display: block;
    width: 81%;
    height: 100px;
    float: left;
    margin: 5px;
}
/* Article */
article #destaques{
    background-color: rgb(61, 61, 61);
    display: block;
    width: 100%;
    height: 300px;
    margin-bottom: 5px ;
}

article #caixa1{
    float: left;
    display: block;
    background-color: rgb(61, 61, 61);
    height: 500px;
    width: 49%;
    margin-top: 5px;
    margin-right: 5px;
}

article #caixa2{
    float: left;
    display: block;
    background-color: rgb(61, 61, 61);
    width: 49%;
    height: 500px;
    margin-left: 5px;
    margin-top: 5px;
}

/* Destaques */

#headdestaques{
    color: white;
    display: block;
    width: 100%;
    height: 60px;
    background-color: black;
}

#textohd{
    display: block;
    font-size: larger;
    font-weight: 900;
    padding: 20px;
}

#contentdestaques{
    display: block;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 20px;
    float: left;
}

#textodestaques{
    color: white;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
}

article button{
}

#headcaixa1{
    color: white;
    display: block;
    width: 100%;
    height: 60px;
    background-color: black;
}

#headcaixa2{
    color: white;
    display: block;
    width: 100%;
    height: 60px;
    background-color: black;
}